/* === Team Section === */
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.person-container {
  padding: 32px 0;
  text-align: center;
}

.person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.person-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

/* Socials */
.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

/* === TABLET === */
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
}

/* === DESKTOP === */
@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/* ========portfolio section======== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-container {
  padding: 32px 16px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* === Tablet === */
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

/* === Desktop === */
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
/* ========== footer ========== */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-logo .footer-part {
  color: #f4f4fd;
}

.footer-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;

  text-align: center;
}

.footer-socials {
  justify-content: center;
  max-width: 208px;
}

.socials-title,
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease;
}

.socials-link:hover,
.socials-link:focus {
  background-color: #31d0aa;
}

.socials-icon {
  fill: #f4f4fd;
}

.footer-subscribe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.subscribe-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

/* ========== TABLET (768px+) ========== */
@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 108px;
  }

  .footer-logo,
  .socials-title,
  .subscribe-title {
    text-align: left;
  }

  .footer-content {
    margin-bottom: 0;
    max-width: 264px;
    text-align: left;
  }

  .footer-subscribe-wrapper {
    margin-top: 0;
    align-items: flex-start;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-form {
    justify-content: flex-start;
  }
}

/* ========== DESKTOP (1158px+) ========== */
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    max-width: 1158px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 0;
    align-content: center;
  }

  .footer-logo-wrapper {
    margin-right: 120px;
  }

  .footer-content {
    margin-bottom: 0;
    max-width: 264px;
  }

  .footer-socials {
    margin-right: 80px;
  }

  .footer-subscribe-wrapper {
    align-items: flex-start;
    margin: 0;
  }

  .footer-logo,
  .socials-title,
  .subscribe-title {
    text-align: left;
  }
  .subscribe-title {
    margin-bottom: 0;
  }
  .subscribe-input {
    width: 264px;
  }

  .subscribe-form {
    flex-wrap: nowrap;
    gap: 24px;
    display: flex;
  }
}
/* <!-- -------MODAL----- --> */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  min-height: 623px;
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale(1.5);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text-main, #2e2f42);
  margin-bottom: 16px;
}

.form-field,
.form-comment {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-label, #8e8f99);
  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-checkbox {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-label, #8e8f99);
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label > .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .modal {
    min-height: 584px;
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
